.favorite {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.favorite-title {
  position: relative;
  margin-right: 0.9rem;
}

.favorite-title h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--Neutral-Colors-8);
}

.favorite-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--Neutral-Colors-8);
  border-radius: 50%;
  right: -14px;
  top: 50%;
}

.products-section__left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 24px;
}

.dont-have-favorite {
  width: 912px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 1px solid var(--Neutral-Colors-4);
  border-radius: var(--radius-large);
}

.favorite-image-wrapper {}

.favorite__image {}

.dont-have-favorite__message {
  color: var(--black);
  font-size: 20px;
}

/* Start Responsive */

/* ---760px--- */

@media (max-width: 760px) {
  
  .favorite-title {
    margin-right: 0;
  }

  .favorite-title::before {
    display: none;
  }

  .favorite-title__text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

}

@media (max-width: 480px) {

  .favorite-title {
    margin-right: 0;
  }

  .favorite-title__text {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--secondary) !important;
    font-size: 16px !important;
  }

  .favorite-title::before {
    display: none;
  }

  .favorite {
    width: 100%;
  }

  .dont-have-favorite {
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
  }

  .dont-have-favorite__message {
    font-size: 14px;
  }

}

/* End Responsive */