.favarite {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.favarite-title {
  position: relative;
  margin-right: 0.9rem;
}

.favarite-title h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--Neutral-Colors-8);
}

.favarite-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--Neutral-Colors-8);
  border-radius: 50%;
  right: -14px;
  top: 50%;
}
.products-section__left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 24px;
}
.dont-have-favarite {
  width: 912px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 1px solid var(--Neutral-Colors-4);
  border-radius: var(--radius-large);
}
.favarite-image-wrapper {
}
.favarite__image {
}
.dont-have-favarite__message {
  color: var(--black);
  font-size: 20px;
}
