.login {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}

.login-section {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.login-logo-wrapper svg {
  width: 150px;
  height: 32px;
}

.login-logo-wrapper span {
  font-size: 16px;
  color: #868686;
}
/* Start Responsive */

@media (max-width: 480px) {
  .login {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
}

/* End Responsive */
