.login {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

.login-section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 289px;
    border-radius: 8px;
    border: 1px solid rgba(237, 237, 237, 1);
    padding: 1rem;
    gap: 2rem;
    background-color: var(--white);
    z-index: 5;
}

.login-wrapper__title h2 {
    font-size: 28px;
    font-weight: 500;
}

.login-wrapper__input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-wrapper__input label {
    font-size: 14px;
    font-weight: 500;
    color: rgba(96, 96, 96, 1);
}

.login-wrapper__input input {
    border: 1px solid rgba(173, 173, 173, 1);
    border-radius: 8px;
    padding: 8px 12px;
    width: 392px;
}

.login-wrapper__input input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: rgba(173, 173, 173, 1);
}

.login-wrapper__btn {
    width: 392px;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 8px 20px;
    color: var(--white);
}

.login-img {
    width: 50%;
    height: 100%;
    background-image: url(../../../public/images/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 6, 21, 0.85);
}

.login-shape1,
.login-shape2 {
    opacity: 10%;
}

.login-shape1 {
    width: 715px;
    height: 571px;
    position: absolute;
    top: -479px;
    left: -260px;
}

.login-shape2 {
    width: 699px;
    height: 562px;
    position: absolute;
    right: -230px;
    top: 170px;
}

.login-img__content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.login-img__content-link {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
}