.login {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

.login-section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}