.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

#nav-icon3 {
    width: 22px;
    height: 22px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 8px;
}

#nav-icon3 span:nth-child(4) {
    top: 16px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.mobile-sidebar__menu {
    width: 200px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    border: 1px solid black;
    top: 0px;
    left: -280px;
    z-index: 10;
    position: fixed;
    transition: all 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.register-sidebar__mobile {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right__mobile {
    padding-right: 5px;
}

.navbar-right__mobile-title {
    font-size: 14px;
    margin-bottom: .5rem;
}

.mobile-sidebar__menu.active {
    left: 0;
}

.navbar-right__item-link-mobile {
    font-size: 12px;
    color: var(--secondary);
}

.navbar-right__item-link-mobile::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: var(--secondary);
    border-radius: 50%;
    margin-left: 5px;
}

.navbar-right-item__mobile {
    padding: .5rem;
    transition: all 250ms ease-in-out;
    display: block;
}

.navbar-right-item__mobile.active {
    background-color: #ededed;
}

.home-sidebar__mobile {
    margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
  .mobile-menu {
    width: 100%;
  }

  .mobile-menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fitland-icon__mobile {
    width: 120px;
    height: 26px;
  }

  .fitland-icon__mobile-sidebar {
    width: 80px;
    height: 16px;
  }

  .header-top__card {
    width: 36px;
    height: 36px;
    border-radius: 8px;
  }

  .header-top__card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-top__card-mobile-icon {
    color: var(--white);
    width: 22px !important;
    height: 22px !important;
  }

  .header-top__card-count {
    font-size: 9px;
    width: 14px;
    height: 14px;
    top: -3px;
    left: -2px;
  }

  .header-top__search-box {
    width: 100%;
  }

  .header-top__search {
    border-radius: 8px;
  }

  .header-top__register {
    padding-left: .5rem;
  }

  .header-top__register-btn {
    width: 110px;
    height: 36px;
    border-radius: 4px;
  }

  .header-top__register-title {
    font-size: 10px;
  }

  .header-top__register-icon,
  .register-icon__mobile {
    width: 14px !important;
    height: 14px !important;
  }

  #nav-icon3 {
    width: 28px;
    height: 28px;
  }

  #nav-icon3 span {
    height: 3px;
  }

  .mobile-sidebar__menu {
    width: 240px;
  }
}


@media (max-width: 480px) {
    .mobile-menu {
        width: 100%;
    }

    .mobile-menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .fitland-icon__mobile {
        width: 90px;
        height: 20px;
    }

    .fitland-icon__mobile-sidebar {
        width: 60px;
        height: 10px;
    }

    .header-top__card {
        width: 30px;
        height: 30px;
        border-radius: 8px;
    }

    .header-top__card-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-top__card-mobile-icon {
        color: var(--white);
        width: 20px !important;
        height: 20px !important;
    }

    .header-top__card-count {
        font-size: 8px;
        width: 12px;
        height: 12px;
        top: -3px;
        left: -2px;
    }

    .header-top__search-box {
        width: 100%;
    }

    .header-top__search {
        border-radius: 8px;
    }

    .header-top__register {
        padding-left: .5rem;
    }

    .header-top__register-btn {
        width: 90px;
        height: 30px;
        border-radius: 3px;
    }

    .header-top__register-title {
        font-size: 9px;
    }

    .header-top__register-icon,
    .register-icon__mobile {
        width: 12px !important;
        height: 12px !important;
    }
}