.product-details__size-buttons {
  width: 252px;
  margin-top: 20px;
}
.product-details__size-title {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  cursor: pointer;
  height: 40px;
}
.product-details__size {
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
}
.product-details__button {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.product-detail__button-item {
  background-color: var(--Neutral-Colors-2);
  font-size: 12px;
  color: var(--black);
  border-radius: var(--radius-extra-small);
  height: 24px;
  width: 75px;
}