.register {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

.register-section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.register-shape1,
.register-shape2 {
  opacity: 10%;
}

.register-shape1 {
  width: 715px;
  height: 571px;
  position: absolute;
  top: -349px;
  left: -300px;
}

.register-shape2 {
  width: 699px;
  height: 562px;
  position: absolute;
  right: -250px;
  top: 350px;
}

.register-img__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.register-img__content-link {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Start Responsive */

/* --- 1280px --- */
@media (max-width: 1280px) {
  .register-section {
    width: 75%;
  }

  .register-shape1 {
    width: 600px;
    height: 480px;
    top: -300px;
    left: -250px;
  }

  .register-shape2 {
    width: 580px;
    height: 460px;
    right: -200px;
    top: 300px;
  }

  .register-img__content {
    gap: 1rem;
  }
}

/* --- 1024px --- */
@media (max-width: 1024px) {
  .register-section {
    width: 80%;
  }

  .register-shape1 {
    width: 520px;
    height: 420px;
    top: -270px;
    left: -200px;
  }

  .register-shape2 {
    width: 500px;
    height: 400px;
    right: -180px;
    top: 300px;
  }

  .register-img__content {
    gap: 0.8rem;
    text-align: center;
  }
}

/* --- 920px --- */
@media (max-width: 920px) {
  .register {
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 100vh;
  }

  .register-img {
    display: none !important;
  }

  .register-section {
    width: 90%;
  }

  .register-shape1,
  .register-shape2 {
    width: 400px;
    height: 320px;
    opacity: 0.08;
  }

  .register-shape1 {
    top: -180px;
    left: -150px;
  }

  .register-shape2 {
    right: -130px;
    top: 200px;
  }

  .register-img__content {
    margin-top: 2rem;
  }
}


@media (max-width: 480px) {
    .register {
        justify-content: center;
    }
    .register-img__content {
        display: none;
    }
    .register-img,
    .register-img::after {
        display: none !important;
    }
}

/* End Responsive */