/* Start Header Top First Section */

.header-top__first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.header-top__icon-title {
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    color: var(--Neutral-Colors-6);
}

.header-top__search-box {
    display: flex;
    position: relative;
    width: 638px;
    height: 48px;
}

.header-top__serach {
    border: 1px solid var(--Neutral-Colors-4);
    width: 100%;
    border-radius: var(--radius-large);
    padding-right: 3rem;
    outline: none;
}

.header-top__serach::placeholder {
    font-size: 12px;
    color: var(--Neutral-Colors-6);
    font-weight: 700;
    font-family: sans-serif;
}

.header-top__search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.header-top__search-icon svg {
    fill: var(--primary);
}

.header-top__register-card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-top__register-btn {
    background-color: var(--white);
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 6px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 5px 5px;
    width: 142px;
    height: 48px;
}

.header-top__register-title {
    font-weight: 700;
    color: var(--Neutral-Colors-8);
    font-size: 16px;
}

.header-top__register-icon svg {
    fill: var(--Neutral-Colors-8);
}

.header-top__card {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-top__card-btn {
    background: unset;
    border: none;
    cursor: pointer;
}

.header-top__card-count {
    position: absolute;
    background-color: var(--secondary);
    color: var(--white);
    width: 19px;
    height: 19px;
    border-radius: 50px;
    padding: 4px;
    top: -4px;
    left: -4px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End Header Top First Section */

/* Start Header Top Second Section */

.navbar {
    background-color: var(--Neutral-Colors-1);
    position: relative;
    margin-top: 3rem;
    border-radius: var(--radius-large);
    padding: 16px 40px 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-right-list {
    display: flex;
    gap: 2.3rem;
}
.navbar-right__item-link {
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    transition: all 200ms ease;
}

.navbar-right__item-link:hover {
    color: var(--primary);
}

.navbar-left-list {
    display: flex;
    gap: 2.3rem;
}

.navbar-left__item-link {
    display: flex;
    align-items: center;
    color: var(--black);
    gap: 5px;
    font-size: 16px;
    font-weight: 700;
    transition: all 200ms ease;
}

.navbar-left__item-link:hover {
    color: var(--primary);
}

.navbar-left__item-link svg {
    width: 16px;
    height: 16px;
    fill: var(--primary) !important;
}

/* End Header Top Second Section */