.shoppingcard-left {
  width: 390px;
  height: fit-content;
  border: 1px solid var(--Neutral-Colors-3);
  border-radius: var(--radius-medium);
}
.shoppingcard-left-top {
  padding: 24px;
  border-bottom: 2px solid var(--Neutral-Colors-3);
}
.shopping__discount-code {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.shopping__discount-holder {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.shopping__discount-input {
  height: 40px;
  border: 1px solid var(--Neutral-Colors-3);
  border-radius: var(--radius-medium);
  padding: 8px;
  flex: 1;
}
.shopping__discount-submit {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  border: 1px solid var(--secondary);
  border-radius: var(--radius-medium);
}
.shoppingcard-left-center {
  padding: 24px;
  border-bottom: 2px solid var(--Neutral-Colors-3);
}
.cart-summary__item {
  display: flex;
  justify-content: space-between;
  color: var(--Neutral-Colors-8);
  font-size: 14px;
}
.cart-summary__item:nth-child(2) {
  margin-top: 16px;
  margin-bottom: 16px;
}
.cart-summary__profit {
  color: var(--primary);
}
.shoppingcard-left-bottom {
  padding: 24px;
}
.cart-sum__item {
  display: flex;
  justify-content: space-between;
  color: var(--Neutral-Colors-8);
  font-size: 16px;
  font-weight: 600;
}
.cart-buy-item {
  height: 48px;
  font-size: 16px;
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  padding: 8px 24px;
  margin-top: 16px;
  border-radius: var(--radius-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Start Responsive */

/* ✅ تا 1280px */
@media (max-width: 1280px) {
  .shoppingcard-left {
    width: 360px;
  }

  .shoppingcard-left-top,
  .shoppingcard-left-center,
  .shoppingcard-left-bottom {
    padding: 20px;
  }
}

/* ✅ تا 1024px */
@media (max-width: 1024px) {
  .shoppingcard-left {
    width: 340px;
  }

  .shopping__discount-code {
    font-size: 15px;
  }

  .cart-sum__item {
    font-size: 15px;
  }
}

/* ✅ تا 920px */
@media (max-width: 920px) {
  .shoppingcard-left {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .shopping__discount-holder {
    flex-direction: column;
  }
}

/* ✅ تا 760px */
@media (max-width: 768px) {
  .shoppingcard-left {
    max-width: 390px;
    height: fit-content;
    border: 1px solid var(--Neutral-Colors-3);
    border-radius: var(--radius-medium);
  }

  .shopping__discount-code {
    text-align: center;
  }

  .shopping__discount-holder {
    flex-direction: row;
  }

  .cart-buy-item {
    font-size: 15px;
    height: 44px;
  }
}

@media (max-width: 480px) {
  .shoppingcard-left {
    width: fit-content;
  }

  .shopping__discount-holder {
    flex-direction: column;
  }

  .shopping__discount-submit {
    justify-content: center;
  }

  .shopping__discount-submit svg {
    display: none;
  }
}

/* End Responsive */