.product-card {
  max-width: 288px;
  height: 430px;
  border-radius: var(--radius-large);
  background-color: var(--Neutral-Colors-1);
}
.product-img-container {
  width: 100%;
  height: 280px;
}
.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.product-attribute {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  height: 137px;
}
.product-rating-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}
.product__title {
  font-size: 16px;
  color: #01070d;
}
.product__rating {
  display: flex;
  align-items: center;
  direction: ltr;
}
.product__price {
  font-size: 14px;
  color: #01070d;
  margin-bottom: 3px;
}
.product__size-range {
  font-size: 12px;
  color: #01070d;
  margin-bottom: 3px;
}
.product__color-circles {
}
.color-circle {
  width: 18px;
  height: 18px;
  border-radius: var(--radius-full);
}
.color-circle + .color-circle {
  margin-right: -5px;
}
.color-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* Start Responsive */

@media (max-width: 480px) {
  
  .product-card {
    height: fit-content;
  }

  .product-rating-title-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .product__title {
    font-size: 12px;
  }

  .product-img-container {
    height: 170px;
  }

  .product__size-range {
    font-size: 9px;
  }

  .product__price {
    font-size: 10px;
  }

}

/* End Responsive */