@font-face {
  font-family: "IranSans";
  src: url("../assets/fonts/Iranian Sans.ttf") format("truetype");
  font-style: normal;
}

/* =========================
   Reset / Normalize CSS
   ========================= */

/* همه المنت‌ها به border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* متن پایه */
html,
body {
  height: 100%;
  font-family: "IranSans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  transition: var(--theme-transition);
}

body.light {
  /* background-color: #F5EFFF; */
}

/* body.dark {
  background-color: #CDC1FF;
} */

/* تصاویر، ویدیوها و SVG ها */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* فرم‌ها */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

/* placeholder */
input::placeholder,
textarea::placeholder {
  color: #888;
  font-family: "IranSans", sans-serif;
}

/* دکمه‌ها */
button {
  cursor: pointer;
  background: none;
  border: none;
}

/* لینک‌ها */
a {
  text-decoration: none;
  color: inherit;
}

/* لیست‌ها */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

/* کل اسکرول‌بار */
::-webkit-scrollbar {
  width: 6px;
}

/* پس‌زمینه‌ی اسکرول‌بار */
::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 8px;
}

/* قسمت حرکت‌کننده (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}

/* Custom Responsive */

/* 🖥 دسکتاپ متوسط */
@media (max-width: 1280px) {
  .container {
    max-width: 1120px;
    padding: 0 24px;
  }
  /* 💻 لپ‌تاپ کوچک */
  @media (max-width: 1024px) {
    .container {
      max-width: 920px;
      padding: 0 20px;

    }
  }
}

/* سایز میانی — تا 920px */
@media (max-width: 920px) {
  .container {
    max-width: 900px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 680px;
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 440px;
    padding: 0 16px;
    margin: 0 auto;
    overflow-x: hidden;
  }
}

/* 📲 تبلت */
