@font-face {
  font-family: 'IranSans';
  src: url('../assets/fonts/Iranian\ Sans.ttf') format('truerype');
  font-style: normal;
}

body {
  font-family: 'IranSans', sans-serif;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}