:root {
  /* Fonts */
  --font-primary: "IranSans", sans-serif;

  /* Font Weights */
  --fw-heavy: 900;
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-demi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-ultra-light: 200;
  --fw-thin: 100;

  /* Base Colors */
  --primary: #fa541c;
  --secondary: #032340;
  --Background: #ffffff;
  --primary-Back: #feeee8;
  --Secondary-Back: #ebf5ff;

  /* State Colors */
  --cinnabar-800: #8a1513;
  --cinnabar-500: #e53935;
  --cinnabar-200: #faddca;

  --selective-yellow-800: #995700;
  --selective-yellow-500: #ffb300;
  --selective-yellow-200: #fff3bf;

  --fern-800: #257028;
  --fern-800: #66bb6a;
  --fern-800: #d3eddd;

  --picton-blue-800: #0f5894;
  --picton-blue-500: #29b6f6;
  --picton-blue-200: #c7f2fc;

  /* Neutral Colors Palette */
  --white: #ffffff;
  --Neutral-Colors-1: #f9f9f9;
  --Neutral-Colors-2: #ededed;
  --Neutral-Colors-3: #d9d9d9;
  --Neutral-Colors-4: #cbcbcb;
  --Neutral-Colors-5: #adadad;
  --Neutral-Colors-6: #868686;
  --Neutral-Colors-7: #606060;
  --Neutral-Colors-8: #404040;
  --black: #000306;

  /* Start Spacing */

  /* Global Margins */
  --margin-small: 24px;
  --margin-medium: 48px;
  --margin-large: 96px;

  /* Global Padding */
  --padding-small: 16px;
  --padding-medium: 24px;
  --padding-large: 48px;

  /* Card Spacing */
  --card-padding-small: 16px;
  --card-padding-medium: 24px;
  --card-padding-large: 32px;
  --card-margin-small: 16px;
  --card-margin-medium: 24px;
  --card-margin-large: 32px;

  /* Section Spacing */
  --section-spacing: 120px;
  --section-title-content-spacing: 56px;

  /* Button Padding */
  --button-padding-small: 12px 24px;
  --button-padding-medium: 16px 32px;
  --button-padding-large: 20px 40px;

  /* Typography Spacing */
  --typography-spacing-small: 16px;
  --typography-spacing-medium: 24px;
  --typography-spacing-large: 32px;

  /* End Spacing */

  /* Start Corner Radius */
  --radius-none: 0px;
  --radius-extra-small: 2px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-extra-large: 24px;
  --radius-full: 9999px;

  /* End Corner Radius */
}

