.site-options {
    background-color: rgba(244, 250, 255, 1);
    width: 100%;
    height: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}

.site-options__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.site-options__right-box {
    width: 167px;
    height: 172px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 17px 24px;
    border: 1px solid rgba(207, 232, 255, 1);
    border-radius: var(--radius-large);
    font-size: 13px;
    color: var(--secondary);
    font-weight: 600;
}

.site-options__left {
    width: 358px;
    font-size: 24px;
    color: var(--secondary);
    font-weight: 600;
}
