.account {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.account-title {
  position: relative;
  margin-right: 0.9rem;
}

.account-title h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--Neutral-Colors-8);
}

.account-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--Neutral-Colors-8);
  border-radius: 50%;
  right: -14px;
  top: 50%;
}

.account-wrapper {
  width: 912px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--Neutral-Colors-4);
  padding: 24px;
  border-radius: 16px;
  gap: 24px;
}

.account-wrapper__input {
  position: relative;
  height: 58px;
}

.account-wrapper__input input {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.1s ease;
  z-index: 2;
  border: 1px solid var(--Neutral-Colors-4) !important;
  height: 40px;
}

.labelline {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  color: rgba(3, 35, 64, 1);
  padding: 0 25px;
  margin: 9px 0;
  transition: all 0.2s ease;
  background-color: var(--white);
}

.account-wrapper__input input:focus,
.account-wrapper__input input:valid {
  color: var(--secondary);
  border: 1px solid rgba(25, 65, 101, 1) !important;
}

.account-wrapper__input input:focus+.labelline,
.account-wrapper__input input:valid+.labelline {
  transform: translate(-20px, -23px) scale(0.88);
  z-index: 2;
  padding: 0 5px;
}

.account-wrapper__btn {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  height: 40px;
}

.profile-box {
  width: 912px;
  border: 1px solid var(--Neutral-Colors-4);
  border-radius: 16px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.profile-box__content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
}

.profile-box__content h1 {
  font-size: 20px;
  font-weight: 400;
  color: var(--Neutral-Colors-7);
}

.profile-box__content p {
  font-size: 16px;
  font-weight: 400;
}

.edit-profile {
  position: absolute;
  left: 20px;
  top: 15px;
  cursor: pointer;
}

/* Start Responsive */

/* --- 1280px --- */
@media (max-width: 1280px) {

  .account-wrapper,
  .profile-box {
    max-width: 730px;
    padding: 20px;
    gap: 20px;
  }

  .account-title h2 {
    font-size: 22px;
  }
}

/* --- 1024px --- */
@media (max-width: 1024px) {

  .account-wrapper,
  .profile-box {
    max-width: 650px;
    padding: 20px;
  }

  .account-wrapper__input input {
    font-size: 13.5px;
  }

  .account-title h2 {
    font-size: 20px;
  }
}

/* --- 920px --- */
@media (max-width: 920px) {

  .account-wrapper,
  .profile-box {
    max-width: 575px;
    padding: 20px;
  }

  .account-wrapper__input input {
    height: 40px;
    font-size: 13px;
  }

  .labelline {
    font-size: 12px;
  }

  .account-title {
    margin-right: 0;
  }

  .account-title__text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .account-title h2 {
    font-size: 18px;
  }

  .profile-box__content h1 {
    font-size: 18px;
  }

  .profile-box__content p {
    font-size: 14px;
  }
}

/* --- 830px --- */

@media (max-width: 830px) {
  
  .account-wrapper {
    max-width: 520px;
  }

}

/* --- 760px --- */

@media (max-width: 760px) {

  .profile-content {
    width: 100%;
  }

  .profile-wrapper {
    width: 100%;
  }
  
  .account-title::before {
    display: none;
  }

  .account-wrapper {
    max-width: 100% !important;
  }

  .profile-box {
    max-width: 100%;
  }

}

@media (max-width: 480px) {

  .account-wrapper,
  .profile-box {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .account-title__text {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--secondary) !important;
    font-size: 16px !important;
  }

  .back-route__mobile {
    width: 16px !important;
    height: 16px !important;
    cursor: pointer;
  }

  .account-title::before {
    display: none;
  }

  .account-wrapper__input input {
    font-size: 12px;
  }

  .labelline {
    font-size: 10px;
    margin: 12px 0;
  }

  .account-wrapper__input input:focus+.labelline,
  .account-wrapper__input input:valid+.labelline {
    transform: translate(-20px, -22px) scale(0.88);
  }

  .profile-box {
    gap: 1rem;
  }

  .profile-box__content h1 {
    font-size: 18px;
  }

  .profile-box__content p {
    font-size: 14px;
  }
}

/* End Responsive */