.main-bottom {
    border: none;
    border-radius: var(--radius-medium);
    width: fit-content;
    padding: 10px 24px 10px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.main-bottom.secondary {
    background-color: var(--secondary);
}

.main-bottom.primary {
    background-color: var(--primary);
}

.main-bottom__title {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}

/* Start Responsive */

@media (max-width: 390px) {

    .main-bottom {
        width: 166px;
        padding: 8px 16px;
    }

    .main-bottom__title {
        font-size: 12px;
        font-weight: 400;
    }
}

/* End Responsive */