.exit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 50, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.exit-content {
  background-color: var(--white);
  border-radius: var(--radius-large);
  width: 680px;
  height: 230px;
  padding: 16px;
  position: relative;
}
.exit-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--Neutral-Colors-4);
}
.exit__title {
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
}
.exit__close-btn {
  cursor: pointer;
}
.exit-bottom {
  margin-top: 16px;
  font-size: 16px;
}
.exit-bottom__description {
    color: #434343;
}
.exit-bottom-buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 44px;
}
.cancel__exit {
  width: 128px;
  height: 44px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: var(--radius-medium);
  transition: all 250ms ease;
}
.exit__btn {
    width: 128px;
    height: 44px;
    color: var(--white);
    background-color: var(--secondary);
    border-radius: var(--radius-medium);
    transition: all 250ms ease;
}
.cancel__exit:hover {
    background-color: var(--secondary);
    color: var(--white);
}
.exit__btn:hover {
    color: red;
}
