.login-img {
    width: 50%;
    height: 100%;
    background-image: url(../../../public/images/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 6, 21, 0.85);
}

.login-shape1,
.login-shape2 {
    opacity: 10%;
}

.login-shape1 {
    width: 715px;
    height: 571px;
    position: absolute;
    top: -479px;
    left: -260px;
}

.login-shape2 {
    width: 699px;
    height: 562px;
    position: absolute;
    right: -230px;
    top: 170px;
}

.login-img__content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.login-img__content-link {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
}