.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 289px;
    border-radius: 8px;
    border: 1px solid rgba(237, 237, 237, 1);
    padding: 1rem;
    gap: 2rem;
    background-color: var(--white);
    z-index: 5;
}

.login-wrapper__title h2 {
    font-size: 28px;
    font-weight: 500;
}

.login-wrapper__input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-wrapper__input label {
    font-size: 14px;
    font-weight: 500;
    color: rgba(96, 96, 96, 1);
}

.login-wrapper__input input {
    border: 1px solid rgba(173, 173, 173, 1);
    border-radius: 8px;
    padding: 8px 12px;
    width: 392px;
}

.login-wrapper__input input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: rgba(173, 173, 173, 1);
}

.login-wrapper__btn {
    width: 392px;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 8px 20px;
    color: var(--white);
}

.input-error {
  color: #8a1513;
  border: 1px solid #8a1513;
  background-color: #ffebe9;
}

.input-success {
  color: #257028;
  border: 1px solid #257028;
  background-color: #eff7f6;
}

.error-text {
  color: #8a1513;
  font-size: 14px;
  display: block;
}
