.register-wrapper {
  display: flex;
  flex-direction: column;
  width: 456px;
  border-radius: 8px;
  border: 1px solid rgba(237, 237, 237, 1);
  padding: 1rem;
  gap: 2rem;
  position: relative;
  z-index: 5;
  background-color: var(--white);
}

.register-wrapper__title h2 {
  font-size: 28px;
  font-weight: 500;
}

.register-wrapper__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-wrapper__input label {
  font-size: 14px;
  font-weight: 500;
  color: rgba(96, 96, 96, 1);
}

.register-wrapper__input input {
  border: 1px solid rgba(173, 173, 173, 1);
  border-radius: 8px;
  padding: 8px 12px;
  width: 392px;
  transition: 0.3s;
  outline: none;
}
.register-wrapper__input input.input-error {
  color: #8a1513;
  border: 1px solid #8a1513;
  background-color: #ffebe9;
}
.register-wrapper__input input.input-success {
  color: #257028;
  border: 1px solid #257028;
  background-color: #eff7f6;
}
.error-text {
  color: #8a1513;
  font-size: 14px;
  display: block;
}

.register-wrapper__input input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: rgba(173, 173, 173, 1);
}

.register-wrapper__btn {
  width: 392px;
  background-color: var(--primary);
  border-radius: 8px;
  padding: 8px 20px;
  color: var(--white);
}

.register-img {
  width: 50%;
  height: 100%;
  background-image: url(../../../public/images/register.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 6, 21, 0.85);
}

.register-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.register-checkbox label {
  font-size: 14px;
  font-weight: 500;
}

.register-checkbox label span {
  color: rgba(47, 95, 138, 1);
}

/* Start Responsive */

@media (max-width: 480px) {
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
  }
  .register-wrapper {
    gap: 1.2rem;
  }
  .register-wrapper__title h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  .register-wrapper__input {
    gap: 0.5rem;
  }
  .register-wrapper__input label,
  .register-wrapper__input input::placeholder,
  .register-checkbox label,
  .error-text {
    font-size: 12px;
  }
}

/* End Responsive */
