.product-detailes-top {
  margin-top: 32px;
  display: flex;
  align-items: center;
  height: 521px;
  gap: 24px;
  padding: 16px 0 16px 16px;
}
.product-details-top-right {
  width: 600px;
}
.product-details-main-img {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.product-details__selected-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-details-others-imges {
  height: 80px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 30px;
}
.product-detailes-other-img {
  width: 80px;
  height: 100%;
  cursor: pointer;
}
.product-detailes-other-img img {
  object-fit: cover;
  height: 100%;
  border-radius: var(--radius-medium);
}
.product-detailes-other-img.active {
  border-color: #000;
}
.product-details-top-left {
  width: 600px;
  height: 100%;
  position: relative;
}
.product__rate {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  background-color: var(--Neutral-Colors-3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: var(--radius-extra-small);
}
.product__rate-number {
  color: #190803;
  font-size: 16px;
}

.product__name-id {
  color: var(--black);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 8px;
}
.product__name-title {
  color: var(--Neutral-Colors-6);
  font-size: 14px;
  margin-bottom: 20px;
}
.product-detail__price {
  font-size: 32px;
  font-weight: 500;
  color: var(--secondary);
  margin-bottom: 20px;
}
.product-details-offs {
  display: flex;
  align-items: center;
  gap: 40px;
}
.product-details__prev-price {
  color: var(--Neutral-Colors-5);
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.product-details__discount {
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 16px;
  border-radius: var(--radius-medium);
}

.product-details-shopping-cart-wrapper {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.product__counter {
  border: 2px solid var(--primary);
  padding: 8px 32px;
  display: flex;
  border-radius: var(--radius-small);
  height: 100%;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
}
.product__icon-like {
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
