.product-detailes-top {
  margin-top: 32px;
  display: flex;
  align-items: center;
  height: 521px;
  gap: 24px;
  padding: 16px 0 16px 16px;
}

.product-details-top-right {
  width: 600px;
}

.product-details-main-img {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-details__selected-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-details-others-imges {
  height: 80px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 30px;
}

.product-detailes-other-img {
  width: 80px;
  height: 100%;
  cursor: pointer;
}

.product-detailes-other-img img {
  object-fit: cover;
  height: 100%;
  border-radius: var(--radius-medium);
}

.product-detailes-other-img.active {
  border-color: #000;
}

.product-details-top-left {
  width: 100%;
  max-width: 600px;
  height: 100%;
  position: relative;
}

.product__rate {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  background-color: var(--Neutral-Colors-3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: var(--radius-extra-small);
}

.product__rate-number {
  color: #190803;
  font-size: 16px;
}

.product__name-id {
  color: var(--black);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 8px;
}

.product__name-title {
  color: var(--Neutral-Colors-6);
  font-size: 14px;
  margin-bottom: 20px;
}

.product-detail__price {
  font-size: 32px;
  font-weight: 500;
  color: var(--secondary);
  margin-bottom: 20px;
}

.product-details-offs {
  display: flex;
  align-items: center;
  gap: 40px;
}

.product-details__prev-price {
  color: var(--Neutral-Colors-5);
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.product-details__discount {
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 16px;
  border-radius: var(--radius-medium);
}

.product-details-shopping-cart-wrapper {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.product__counter {
  border: 2px solid var(--primary);
  padding: 8px 32px;
  display: flex;
  border-radius: var(--radius-medium);
  height: 100%;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
}

.product__icon-like {
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

/* Start Responsive */

/* ---1280px--- */

@media (max-width: 1280px) {

  .product-details-shopping-cart-wrapper {
    gap: 5px;
  }

}

/* ---1025px--- */

@media (max-width: 1025px) {

  .product-details-top-right {
    width: 500px;
  }

  .product__add-to-shopping-card,
  .product__counter {
    font-size: 14px !important;
    padding: 13px !important;
    width: 180px !important;
    gap: 2px !important;
  }

  .product__counter {
    width: 80px !important;
  }

  .product__counter-button {
    width: 15px !important;
    height: 15px !important;
  }

}

/* ---920px--- */

@media (max-width: 920px) {

  .product-details-top-left {
    max-width: 250px;
  }

}

/* ---820px--- */

@media (max-width: 820px) {

  .product-details-top-right {
    width: 400px;
  }

}

/* ---768px--- */

@media (max-width: 768px) {

  .product-details-others-imges {
    height: 50px !important;
  }

  .product-detailes-other-img {
    width: 40px !important;
    height: 50px !important;
  }

  .product-detailes-top {
    display: flex;
    height: fit-content;
    margin-top: 20px;
    padding: 0;
  }

  .product-details-top-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-details-top-right {
    max-width: 100%;
  }

  .product-details-others-imges {
    position: relative;
    max-width: 100%;
    gap: 0;
    margin-top: 20px;
  }

  .product-detailes-other-img {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(203, 203, 203, 1);
    border-radius: 8px;
    transition: transform 0.3s ease, z-index 0.3s ease;
  }

  .product-detailes-other-img:hover {
    transform: translateY(-10px);
    z-index: 10;
  }

  .product-detailes-other-img.active {
    border: 1px solid rgba(150, 50, 17, 1);
  }

  .product-detailes-other-img:nth-child(1) {
    z-index: 5;
    right: 0;
  }

  .product-detailes-other-img:nth-child(2) {
    z-index: 4;
    right: 50px;
  }

  .product-detailes-other-img:nth-child(3) {
    z-index: 3;
    right: 100px;
  }

  .product-detailes-other-img:nth-child(4) {
    z-index: 2;
    right: 150px;
  }

  .product-detailes-other-img:nth-child(5) {
    z-index: 1;
    right: 200px;
  }

  .product__name-title {
    margin-bottom: 0;
  }

  .product__name-id {
    font-size: 24px;
  }

  .product-details__size,
  .product-color__title {
    font-size: 18px !important;
    font-weight: 600 !important;
  }

  .product-details__size-buttons,
  .product-details-colors-wrapper {
    margin-top: 0 !important;
  }

  .product-details__size-buttons {
    width: 100% !important;
  }

  .product-detail__price {
    font-size: 20px;
  }

  .product-sizes {
    order: 3;
  }

  .product-colors {
    order: 4;
  }

  .product-detail__price,
  .product-details-offs {
    order: 5;
  }

  .product-details-shopping-cart-wrapper {
    order: 6;
  }

  .product-detail__price {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .product-details__prev-price {
    font-size: 20px;
  }

  .product-details-top-left {
    max-width: 200px;
  }

  .product-details-offs {
    display: flex;
    gap: 26px;
  }

  .product-details-shopping-cart-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: static;
    height: auto;
    gap: 10px;
  }

  .product-details-shopping-cart-wrapper> :nth-child(1),
  .product-details-shopping-cart-wrapper> :nth-child(3) {
    order: 1;
  }

  .product-details-shopping-cart-wrapper> :nth-child(2) {
    flex-basis: 100%;
    order: 2;
    margin-top: 10px;
  }

  .product__add-to-shopping-card {
    font-size: 14px !important;
  }
}

/* ---480px--- */

@media (max-width: 480px) {
  .product-detailes-top {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 20px;
    padding: 0;
  }

  .product-details-top-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-details-top-right {
    max-width: 100%;
  }

  .product-details-others-imges {
    position: relative;
    max-width: 100%;
    height: 80px !important;
    gap: 0;
    margin-top: 20px;
  }

  .product-detailes-other-img {
    position: absolute;
    width: 80px !important;
    height: 80px!important;
    border: 1px solid rgba(203, 203, 203, 1);
    border-radius: 8px;
    transition: transform 0.3s ease, z-index 0.3s ease;
  }

  .product-detailes-other-img:hover {
    transform: translateY(-10px);
    z-index: 10;
  }

  .product-detailes-other-img.active {
    border: 1px solid rgba(150, 50, 17, 1);
  }

  .product-detailes-other-img:nth-child(1) {
    z-index: 5;
    right: 0;
  }

  .product-detailes-other-img:nth-child(2) {
    z-index: 4;
    right: 50px;
  }

  .product-detailes-other-img:nth-child(3) {
    z-index: 3;
    right: 100px;
  }

  .product-detailes-other-img:nth-child(4) {
    z-index: 2;
    right: 150px;
  }

  .product-detailes-other-img:nth-child(5) {
    z-index: 1;
    right: 200px;
  }

  .product__name-title {
    margin-bottom: 0;
  }

  .product__name-id {
    font-size: 24px;
  }

  .product-details__size,
  .product-color__title {
    font-size: 18px !important;
    font-weight: 600 !important;
  }

  .product-details__size-buttons,
  .product-details-colors-wrapper {
    margin-top: 0 !important;
  }

  .product-sizes {
    order: 3;
  }

  .product-colors {
    order: 4;
  }

  .product-detail__price,
  .product-details-offs {
    order: 5;
  }

  .product-details-shopping-cart-wrapper {
    order: 6;
  }

  .product-detail__price {
    text-align: left;
    margin-bottom: 6px;
    font-size: 24px;
  }

  .product-details__prev-price {
    font-size: 24px;
  }

  .product-details-offs {
    display: flex;
    gap: 26px;
    justify-content: flex-end;
  }

  .product-details-shopping-cart-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: static;
    height: auto;
    gap: 10px;
  }

  .product-details-shopping-cart-wrapper> :nth-child(1),
  .product-details-shopping-cart-wrapper> :nth-child(3) {
    order: 1;
  }

  .product-details-shopping-cart-wrapper> :nth-child(2) {
    flex-basis: 100%;
    order: 2;
    margin-top: 10px;
  }

  .product__add-to-shopping-card {
    font-size: 14px !important;
  }
}

/* End Responsive */