
.product-section__bottom {
    display: flex;
    gap: 1.5rem;
}

.products-section__pagination {
    display: flex;
    flex-direction: column;
}

.products-section__left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.products-section__left div {
    cursor: pointer;
}

/* Start Responsive */

@media (max-width: 768px) {
    .products-section__left {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .product-section__bottom {
        margin-top: 2rem;
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    .products-section__left {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .product-section__bottom {
        margin-top: 2rem;
        flex-direction: column;
    }

}

/* End Responsive */