.header-top-title {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: var(--secondary);
    color: var(--white);
    height: 40px;
}

.header-top-title h3 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}