.header-top-title {
    width: 100%;
    background-color: var(--secondary);
    color: var(--white);
    height: 40px;
    transition: var(--theme-transition);
}

.header-top-title h3 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

/* Start Header Responsive */

@media (max-width: 480px) {
    .header-top-title h3 {
        font-size: 10px;
        font-weight: 500;
    }
}

/* End Header Responsive */