.product-details-buttom {
  margin-top: 90px;
}
.product-tabs {
  display: flex;
  gap: 8px;
  color: #194165;
  font-size: 24px;
  font-weight: 400;
}
.product-tabs__item {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: var(--radius-small);
}
.product-tabs-content {
  margin: 32px 0;
  font-size: 20px;
}
.product-features__content {
  border-radius: var(--radius-small);
  border: 1px solid var(--Neutral-Colors-4);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px 0 16px;
}
.product-features__content-item {
  border-bottom: 1px solid var(--Neutral-Colors-4);
  display: flex;
  gap: 70px;
  min-height: 60px;
}
.product-features__content-item-title {
  width: 190px;
}
.product-features__content-item-value {
  display: inline-block;
}
.product-features__content-item-value ul {
  list-style: disc inside;
}

.product-description__content {
  border-radius: var(--radius-small);
  border: 1px solid var(--Neutral-Colors-4);
  color: var(--black);
  font-size: 20px;
  padding: 32px;
  text-align: justify;
}
.product-comment__content {
  display: flex;
  gap: 34px;
}
.product-taking-comment {
  width: 100%;
  position: relative;
}
.produc-comment__form {
  margin-top: 24px;
}
.comment-form__title {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  padding: 12px 0;
}
.comment-form__subtitle {
  color: var(--Neutral-Colors-6);
  font-size: 14px;
  padding: 12px 0;
  border-top: 0.5px solid var(--Neutral-Colors-6);
}
.produc-comment__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.comment-form__input {
  height: 48px;
  width: 100%;
  border: 1px solid var(--Neutral-Colors-5);
  border-radius: var(--radius-medium);
  padding: 12px 16px;
  color: var(--black);
}
.comment-form__textarea {
  height: 148px;
  resize: none;
  width: 100%;
  border: 1px solid var(--Neutral-Colors-5);
  border-radius: var(--radius-medium);
  padding: 12px 18px 14px 14px;
}
.comment-form__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.comment-form__button {
  height: 48px;
  width: 184px;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 8px 24px;
  font-size: 16px;
  border-radius: var(--radius-medium);
}
.comment-form__stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 160px;
  cursor: pointer;
}
.comment-form__star {
  width: 22px;
  height: 22px;
  color: #cbcbcb;
  transition: color 0.2s;
}
.comment-form__star.active {
  color: #ff991f;
}