.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 50, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* محتوی پاپ‌آپ */
.popup-content {
  background-color: var(--white);
  border-radius: var(--radius-large);
  width: 650px;
  height: 180px;
  padding: 16px;
  position: relative;
}
.popup-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--Neutral-Colors-4);
}
.pop-up__share-title {
  color: var(--Neutral-Colors-8);
  font-size: 24px;
  font-weight: 300;
}
.close-btn {
  cursor: pointer;
}
.popup-bottom__description {
  font-size: 16px;
  color: var(--Neutral-Colors-6);
  margin-top: 16px;
}
.copy-btn {
  border: 1px solid var(--secondary);
  width: 100%;
  margin-top: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: var(--radius-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--secondary);
  transition: background 0.3s;
}

.copy-btn:hover:enabled {
  background-color: var(--Neutral-Colors-6);
}
.copy-btn.copied {
  background-color: var(--Neutral-Colors-6);
  cursor: not-allowed;
}
